In [2]:
import pandas as pd
import re

In [157]:
karte = pd.read_csv("naloga4.csv")
karte.tail()

,Card,winning numbers,your numbers
215,Card 216,13 15 69 5 57 20 77 45 98 12,9 42 49 96 46 23 84 77 74 31 75 15 47 6 83 ...
216,Card 217,33 92 13 9 53 41 74 86 8 50,78 76 73 17 99 39 48 98 89 62 7 11 10 43 49 ...
217,Card 218,91 50 80 42 23 76 63 81 29 39,57 26 2 3 21 43 52 34 70 91 30 8 12 24 99 ...
218,Card 219,63 29 45 94 49 57 24 40 71 99,86 37 23 13 67 19 36 69 22 48 20 10 44 59 1 ...
219,Card 220,7 42 25 84 54 11 88 6 55 73,86 5 82 70 49 80 21 36 16 34 17 77 44 74 61 ...

In [146]:
def calculate_points(cards_df):
    total_points = 0

    for index, row in cards_df.iterrows():
        winning_numbers = set(row[" winning numbers"].split())
        your_numbers = set(row[" your numbers"].split())

        common_numbers = winning_numbers.intersection(your_numbers)
        points = 2 ** (len(common_numbers) - 1) if len(common_numbers) > 0 else 0

        total_points += points

    return total_points

In [149]:
calculate_points(karte)

28538

In [162]:
lista = []
comn = []
numbers = {i + 1: 1 for i in range(220)}
for index, row in karte.iterrows():
    winning_numbers = set(row[" winning numbers"].split())
    your_numbers = set(row[" your numbers"].split())
    common_numbers = winning_numbers.intersection(your_numbers)
    comn.append(common_numbers)
    boost = [2+index+i for i in range(0, len(common_numbers))]
    lista.append(boost)


index = 1
for i in lista:
    for x in i:
        if x in numbers:
            numbers[x] += numbers[index]
            
    index += 1

In [161]:
sum(numbers.values())

9425061